NODE_ENV=development
PORT=3000

BASE_URL=http://localhost:3000
FRONTEND_BASE_URL=http://localhost:5173

JWT_ACCESS_TOKEN_SECRET=jwt-access-token-secret-token-change-me
JWT_ACCESS_TOKEN_EXPIRES_IN=60s
JWT_REFRESH_TOKEN_SECRET=jwt-refresh-token-secret-token-change-me
JWT_REFRESH_TOKEN_EXPIRES_IN=30d

DB_HOST=db
DB_PORT=5432
DB_USER=db-user
DB_PASSWORD=db-password
DB_NAME=mood-tracking-db